input {
  margin-left: 20px;
  margin-right: 50px;
}

.inputContainer {
  margin: auto;
  width: 40%;
  padding : 20px;
}

.toDoContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
  padding : 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: #fff8e1;
}
